.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #b1b5b9;
  color: white;
}

.top-bar a {
  color: white;
  text-decoration: none;
}

.top-bar a:hover {
  color: #adb5bd;
}

.auth-section {
  margin-left: auto;
}